__pycache__/
doc
bin
.classpath
articles
venv/
*.pyc
.DS_STORE
eclipse.userlibraries
event-detection.jar
*.class
.idea/
*.iml
validator.jar
text-rank.jar
pipeline.jar
voting.jar
articles_test/
stop-words.txt
WordNet-JWI
